/* all common style css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
img {
    max-width: 100%;
    display: block;
}
ul,ol {
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
/* all common style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */
/* header style css start */
/* header style css end */